.header {
  min-width: 1024px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 50px;
  background-color: #fff; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1024px;
    height: 60px;
    margin: 0 auto;
    padding: 0 50px; }
  .header__logo {
    width: 40px;
    height: 40px; }
  @media screen and (min-width: 1200px) {
    .header .header__container {
      max-width: 1200px; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__item:not(:last-child) {
  margin-right: 20px; }

.nav__link {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  padding: 23px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: color  0.3s ease-in;
  transition: color  0.3s ease-in; }
  .nav__link:hover {
    color: #00acdc; }
  .nav__link.is-active {
    position: relative;
    color: #00acdc; }
    .nav__link.is-active:after {
      content: "";
      background: #00acdc;
      border-radius: 8px;
      width: 100%;
      display: block;
      position: absolute;
      height: 4px;
      left: 0;
      bottom: 0; }

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 403px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px; }
  .product-card__img-content {
    position: relative;
    height: 134px;
    width: 160px;
    border: 3px solid transparent;
    padding-top: 13px;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out; }
    .product-card__img-content:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      border-radius: 3px;
      border-color: #f3f3f3; }
  .product-card__img {
    height: 134px;
    width: 160px; }
  .product-card__content {
    margin-top: 42px; }
  .product-card__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 5px; }
  .product-card__id {
    margin-bottom: 15px; }
  .product-card__review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
  .product-card__info {
    text-decoration: none;
    color: #000;
    -webkit-transition: color  0.3s ease-in;
    transition: color  0.3s ease-in; }
    .product-card__info:hover {
      color: #00acdc; }
  .product-card__price-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 20px; }
  .product-card__price-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px; }
  .product-card__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40px;
    width: 170px;
    padding: 9px 15px;
    background-color: #00acdc;
    border: 1px solid #00acdc;
    color: #fff;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .product-card__btn:hover {
      background: white;
      color: #00acdc; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .stars__star {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center; }

.stars--4 .stars__star:nth-child(-n+4) {
  background-image: url("../images/star-active.svg"); }

@-webkit-keyframes zoom-img {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  to {
    -webkit-transform: scale(0.2, 0.2);
            transform: scale(0.2, 0.2); } }

@keyframes zoom-img {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  to {
    -webkit-transform: scale(0.2, 0.2);
            transform: scale(0.2, 0.2); } }

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1024px;
  grid-gap: 50px 48px;
  list-style: none;
  margin: 0 auto;
  padding: 0; }

@media (min-width: 1200px) {
  .product {
    max-width: 1200px; } }

html {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #000; }

body,
p,
h3 {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

a {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
